
form {
  max-width: 500px;
  margin: 3% auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="text"],
input[type="file"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.star-rating {
  direction: rtl;
  display: inline-flex;
  margin-left: 35%;
  margin-top: 10px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 2rem;
  color: gray;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating input:checked ~ label {
  color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}
